
<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">Home</a>
		</li>
		<li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#/dashboard">Dashboard</a>
		</li>
		<li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#/bittrex">Bit Trex Currencies</a>
		</li>
        <li class="active">Widthdrawal History</li>
	</ul>
</div>
<div class="page-content">
    <div class="row">
        <div class="space-6"></div>
        <div class="col-sm-10 col-sm-offset-1">
            <div id="login-box" class="login-box visible widget-box no-border">
                <div class="widget-body">
                    <div class="widget-main">
                        <h4 class="header blue lighter bigger">
                            <i class="icon-coffee green"></i>
                          Open Order
						</h4>
                       <table id="" class="table table-bordered table-striped table-condensed table-responsive">
							<tr>
								<td>
                                    <label>Logo</label>
                                    <span></span>
								</td>
                                <td>
                                    <label>Market Currency</label>
                                    <span></span>
								</td>
								<td>
                                    <label>Base Currency</label>
                                    <span></span>
								</td>
								<td>
                                    <label>Market Name</label>
                                    <span></span>
								</td>
								<td>
                                    <label>Created</label>
                                    <span></span>
								</td>
                                <td>
                                    <label>Action</label>
                                    <span></span>
                                </td>
							</tr>
                            <tr ng-repeat="bitmarket in getresult">
                                <td>
                                    <label><img src="{{bitmarket.LogoUrl}}" alt="{{bitmarket.MarketName}} - {{bitmarket.MarketCurrency}}" height="50" width="50"/></label>
                                    <span></span>
								</td> 
								<td>
                                    <label>{{bitmarket.MarketCurrency}}</label>
                                    <span></span>
								</td> 
								<td>
                                    <label>{{bitmarket.BaseCurrency}}</label>
                                    <span></span>
								</td> 
								<td>
                                    <label>{{bitmarket.MarketName}}</label>
                                    <span></span>
								</td> 
								<td>
                                    <label>{{bitmarket.Created}}</label>
                                    <span></span>
								</td>
                                <td>
                                    <label><a href="#/bittrexgetsinglemarketsummary/{{bitmarket.MarketName}}">market Summary</a></label>
                                    &nbsp;
                                    <label><a href="#/bittrexgetticker/{{bitmarket.MarketName}}">Get Ticker</a></label>
                                    <label><a href="#/bittrexgethistory/{{bitmarket.MarketName}}">Get History</a></label>
                                    <label><a href="#/bittrexgethistory/{{bitmarket.MarketName}}">Get History</a>

<select name="formal" onchange="javascript:handleSelect(this)">
<option value="">Get Order Book</option>
<option value="#/bittrexgetorderbook/{{bitmarket.MarketName}}/buy">Buy</option>
<option value="#/bittrexgetorderbook/{{bitmarket.MarketName}}/sell">Sell</option>
<option value="#/bittrexgetorderbook/{{bitmarket.MarketName}}/both">Both</option>
</select>

<script type="text/javascript">
function handleSelect(elm)
{
window.location = elm.value;
}
</script>





                                    </label>
                                    <span></span>
                                </td>
							</tr> 
                            <tr>
                             
							</tr>
						</table>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /.page-content -->