
<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">Home</a>
		</li>
		<li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#/dashboard">Dashboard</a>
		</li>
		<li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#/gdax">GDAX</a>
		</li>
        <li class="active">GDAX Market Data</li>
	</ul>
</div>
<div class="page-content">
    <div class="row">
        <div class="space-6"></div>
        <div class="col-sm-10 col-sm-offset-1">
            <div id="login-box" class="login-box visible widget-box no-border">
                <div class="widget-body">
                    <div class="widget-main">
                        <h4 class="header blue lighter bigger">
                            <i class="icon-coffee green"></i>
                           GDAX Market Data
						</h4>
                       <table id="" class="table table-bordered table-striped table-condensed table-responsive">
							<tr>
								<td>
                                    <label>Currency</label>
                                    <span></span>
								</td>
								<td>
                                    <label>Market Name</label>
                                    <span></span>
								</td>
								<td>
                                    <label>quote currency</label>
                                    <span></span>
								</td>
                                <td>
                                    <label>Action</label>
                                    <span></span>
                                </td>
							</tr>
                            <tr ng-repeat="gdaxmarket in getresult">
                                
								<td>
                                    <label>{{gdaxmarket.display_name}}</label>
                                    <span></span>
								</td> 
								<td>
                                    <label>{{gdaxmarket.base_currency}}</label>
                                    <span></span>
								</td> 
								<td>
                                    <label>{{gdaxmarket.quote_currency}}</label>
                                    <span></span>
								</td> 
								
                                <td>
                                    <label><a href="#/gdaxgetticker/{{gdaxmarket.id}}">Get Ticker</a></label>
                                    <span></span>
                                </td>
							</tr> 
                            <tr>
                             
							</tr>
						</table>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /.page-content -->