<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <a href="#">Home</a>
        </li>
        <li class="active">SignUp</li>
    </ul>
</div>
<div class="page-content">
    <div class="row">
        <div class="space-6"></div>
        <div class="col-sm-6 col-sm-offset-1">
            <div id="login-box" class="login-box visible widget-box no-border">
                <div class="widget-body">
                    <div class="widget-main">
                        <h4 class="header blue lighter bigger">
                            Signup for  High Frequency Trading
                        </h4>
                        <br/>
                        <form name="signupForm" class="form-horizontal" role="form">
                            <input type="hidden" class="form-control" name="id" ng-model="signup.id" />

                             <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="name">Name</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                        <input type="text" class="form-control" name="name" placeholder="Name" ng-model="signup.name" required focus/>
                                        <span ng-show="signupForm.name.$valid" class="help-inline">Name can not be empty</span> 
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="email">Email</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                        <input type="text" class="form-control" placeholder="Email" name="email" ng-model="signup.email" required focus/>
                                        <span ng-show="signupForm.email.$error.email" class="help-inline">Email is not valid</span> 
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="address">Address</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                        <textarea rows="4" cols="50" ng-model="signup.address" placeholder="Address"></textarea>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="Pincode">Pincode</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                        <input type="text" class="form-control" name="pin" placeholder="Enter District" ng-model="signup.pin" />
                                    </span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="mobile">Mobile Number</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                        <input type="text" class="form-control" placeholder="Enter Mobile Number" name="mobile" ng-model="signup.mobile"/>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="fax">Fax Number</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                        <input type="text" class="form-control" placeholder="Enter Fax Number" name="fax" ng-model="signup.fax"/>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group">
                                <span class="lbl col-sm-5"> </span>
                                <div class="col-sm-7">
                                    <button type="submit" class="width-35 pull-right btn btn-sm btn-primary" ng-click="signUp(signup)" data-ng-disabled="signupForm.$invalid">
                                        Sign Up
                                    </button>
                                </div>
                            </div>

                            <span class="lbl col-sm-5"> </span>
								<div class="col-sm-7">Already have an account? <a href="#/login">SignIn</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- /.page-content -->